<h1>Add Attendee</h1>
<form method="post">
    <label for="name">Attendee Name: </label>
    <input name="name" type="text"/><br/>
    <label for="response">Attending: </label>
    <input name="response" type="text"/><br/>
    <input type="submit" value="Add Response"/>
</form>
