@model List<CodingEvents.Models.Tag>

<h1>Tags</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @foreach (Tag tag in Model)
    {
        <tr>
            <td>@tag.Id</td>
            <td>@tag.Name</td>
        </tr>
    }
</table>