@model List<CodingEvents.Models.Tag>

<h1>Tags</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @foreach (Tag tag in Model)
    {
        <tr>
            <td>@tag.Id</td>
            <td><a asp-controller="Tag" asp-action="Detail" asp-route-id="@tag.Id">@tag.Name</a></td>
        </tr>
    }
</table>