@using CodingEvents.ViewModels;

@model AddEventCategoryViewModel;

<h1>Add Event Category</h1>
<form method="post" action="/eventcategory">
    <div asp-controller="EventCategory" asp-action="Create" class="form-group">
        <label asp-for="Name">Category Name: </label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Category" />
</form>
